.postagens{
    margin: auto;
    padding: 10px;
    background-color: #1a1919;
}

.cabecalho{
    margin-left: 20px;
    font-size: 20px;
    color: #ffffff;
}

.postagens .card{
    display: flex;
    color: #ffffff;
    flex-direction: column;
    background-color: #000000;
    border-radius: 20px;
}

.card .card-texto{
    align-items: justify;
    margin: auto;
    font-size: 16px;
}

.card .likes{
    color: #ffffff;
    padding: 10px;
    margin: 10px;
}

.card .card-coment{
    margin: 20px;
    background-color: grey;
    border-radius: 5px;
}

.card .interacoes{
    display: flex;
}

.card .interacoes .button{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #000000;
    background-color: grey;
}

.card .comentario {
    display: flex;
    padding: 20px;
    background-color: #000000;
    border-radius: 20px;
}

.card .comentario textarea{
    resize: none;
    width: 600px;
    font-family: sans-serif;
    border-radius: 5px;
}

.card .comentario .button-comentario{
    margin-left: 35px;
    background-color: grey;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    color: black;
    border-radius: 5px;
}